[include mainsail.cfg]
[include macros.cfg]

[save_variables]
filename: ~/variables.cfg

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2E003D001551333031373837-if00

[mcu RP2040]
baud: 115200
restart_method: command
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6635C469F146538-if00

[virtual_sdcard]
path: /home/ubuntu/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

# Driver 0
[stepper_x]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
microsteps: 16
rotation_distance: 40
endstop_pin: PG6
position_endstop: 350
position_max: 350
homing_speed: 100

# Driver 1
[stepper_y]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
microsteps: 16
rotation_distance: 40
endstop_pin: PG9
position_endstop: 350
position_max: 350
homing_speed: 100

# Driver 2
[stepper_z]
# This driver actually has 2 Z outputs on the PCB that share 1 driver, since using 2 separate drivers, one port should be left blank/disconnected.
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop #PG10
position_max: 400
homing_speed: 25

# Driver 3
# Second endstop_pin not needed as they are Dual Z and will use the BLTouch defined in the first Z
[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
microsteps: 16
rotation_distance: 8
#endstop_pin: PG11 

# Driver 4
[extruder]
# Corresponds with [filament_switch_sensor material_0] = switch_pin: PG12
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA0 # HE0
sensor_pin:  PF4 # T0
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: -200 #0
max_temp: 250
min_extrude_temp: -200 #0

# Driver 5
[extruder1]
# Corresponds with [filament_switch_sensor material_1] = switch_pin: PG13
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA3 # HE1
sensor_pin: PF5 # T1
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: -200 #0
max_temp: 250
min_extrude_temp: -200 #0

# Driver 6
#[unused1]
# Corresponds with [filament_switch_sensor material_2] = switch_pin: PG14
#step_pin: PE2
#dir_pin: PE3
#enable_pin: !PD4
#microsteps: 16
#rotation_distance: 8
#endstop_pin: PG10
#position_endstop: 0.5
#position_max: 200
# Below only applies if needing associated heating
#heater_pin: PB0 # HE2
#sensor_pin: PF6 # T2

# Driver7
# Corresponds with [filament_switch_sensor material_3] = switch_pin: PG15
#[unused2]
#step_pin: PE6
#dir_pin: PA14
#enable_pin: !PE0
#microsteps: 16
#rotation_distance: 8
#endstop_pin: PG10
#position_endstop: 0.5
#position_max: 200
# Below only applies if needing associated heating
#heater_pin: PB11 # HE3
#sensor_pin: PF7 # T3

# -----Driver Specifics-----
# Driver 0
[tmc5160 stepper_x]
cs_pin: PC4
spi_bus: spi1
#diag1_pin: PG6
run_current: 0.650
sense_resistor: 0.075
interpolate: True
stealthchop_threshold: 999999

# Driver 1
[tmc5160 stepper_y]
cs_pin: PD11
spi_bus: spi1
#diag1_pin: PG9
run_current: 0.650
sense_resistor: 0.075
interpolate: True
stealthchop_threshold:999999

# Driver 2
[tmc5160 stepper_z]
cs_pin: PC6
spi_bus: spi1
#diag1_pin: PG10
run_current: 0.650
interpolate: True
stealthchop_threshold: 999999

# Driver 3
[tmc5160 stepper_z1]
cs_pin: PC7
spi_bus: spi1
#diag1_pin: PG11
run_current: 0.650
interpolate: True
stealthchop_threshold: 999999

# Driver 4
[tmc5160 extruder]
cs_pin: PF2
spi_bus: spi1
#diag1_pin: PG12
run_current: 0.650
interpolate: True
stealthchop_threshold: 999999

# Driver 5
[tmc5160 extruder1]
cs_pin: PE4
spi_bus: spi1
#diag1_pin: PG13
run_current: 0.650
interpolate: True
stealthchop_threshold: 999999

# Driver 6
#[tmc5160 unused0]
#cs_pin: PE1
#spi_bus: spi1
##diag1_pin: PG14
#run_current: 0.650
#interpolate: True
#stealthchop_threshold: 999999

# Driver 7
#[tmc5160 unused1]
#cs_pin: PD3
#spi_bus: spi1
##diag1_pin: PG15
#run_current: 0.650
#interpolate: True
#stealthchop_threshold: 999999
# -----End of Driver Specifics-----

# -----Filament Sensors-----
[filament_switch_sensor material_0]
# Corresponds with Driver 4
switch_pin: PG12

[filament_switch_sensor material_1]
# Corresponds with Driver 5
switch_pin: PG13

#[filament_switch_sensor material_2]
# Corresponds with Driver 6
#switch_pin: PG14

#[filament_switch_sensor material_3]
# Corresponds with Driver 7
#switch_pin: PG15
# -----End of Filament Sensors-----

# -----Fans-----
[fan]
pin: PA8

[heater_fan fan1]
pin: PE5

[heater_fan fan2]
pin: PD12

#[heater_fan fan3]
#pin: PD13

#[heater_fan fan4]
#pin: PD14

#[controller_fan fan5]
#pin: PD15
# -----End of Fans-----

[safe_z_home]
home_xy_position: 180, 180
speed: 100
z_hop: 10
z_hop_speed: 5

[adxl345]
cs_pin: RP2040: gpio8
spi_bus: spi0a
axes_map: x,z,y

[resonance_tester]
accel_chip: adxl345
probe_points:
    # Somewhere slightly above the middle of your print bed
    147,154, 20

[bltouch]
sensor_pin: PB7
control_pin: PB6
x_offset: -45
y_offset: 0
z_offset: 0
speed: 3.0
samples: 5
samples_tolerance_retries: 3
sample_retract_dist: 3.0
pin_move_time: 0.2
pin_up_reports_not_triggered: False
pin_up_touch_mode_reports_triggered: False

[bed_mesh]
speed: 100
horizontal_move_z: 8
mesh_min: 50, 50
mesh_max: 300, 300
probe_count: 3, 3

[heater_bed]
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PF3 # TB
control: pid
pid_Kp: 690.34
pid_Ki: 111.47
pid_Kd: 1068.83
min_temp: -200 #0
max_temp: 130

[neopixel my_neopixel]
pin: PB10